* {
	margin: 0;
	padding: 0;
	max-width: 100%;
}

body {
	background-color: #3B6064;
}

.container {
	background-color: #87BBA2;
	border-radius: 20px;
	font-family: Fredoka;
	padding: 5px;
}

.navbar-brand {
	font-family: Merienda;
}

.nav-link {
	font-family: Fredoka;
	font-size: 20px;
}

.card {
	display: inline-block;
	width: 300px;
	background-color: #C9E4CA;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
}



img {
	display: inline-block;
	margin-top: 5px;
	height: 300px;
	width: 320px;
	border-style: solid;
	border-width: 7px;
	border-radius: 10px;
}

a {
	text-decoration: none;
	font-family: Fredoka;
	color: #3B6064;
}

.btn {
	background-color: #55828B;
	border-color: #55828B;
}

.btn:hover {
	background-color: #364958;
	border-color: #364958;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
	font-family: Merienda;
	color: white;
}

h4 {
	font-family: Fredoka;
	text-align: center;
}

p {
	font-size: 22px;
	font-family: Fredoka;
}

li {
	font-size: 20px;
}

.footer {
	text-align: center;
}

.footer a {
	color: #87BBA2;
}
